@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,300;1,400;1,700&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif ;
 }

 body{
    max-width: 400vw;
    max-height: 400vh;
    background:linear-gradient(180deg, #2E2B2B, #3C1A9D);
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 header{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: auto;
     margin-top: 5%;
 }

 header .image{
     margin-top: 5%;
 }

 header .image img{
   border-radius: 150px;
}

header span{
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 300;
    margin-top: 7%;
}

.description{
    font-size: 18px;
    color: #CAB4B4;
    margin-top: 8%;
    text-align: center;
}

.description strong{
    color: #FFFFFF;
    font-weight: 700;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    width: 50%;
    justify-content: space-between;
}

.talktome{
    display: flex;
    flex-direction: column;
}


